<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success">Submit</button>
          <button class="btn btn-danger">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input id="name" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="image-path">Image Path</label>
            <input id="image-path" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img src="" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea rows="6" id="description" class="form-control"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-8">
              <div class="form-group">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-xs-2">
              <div class="form-group">
                <input type="number" class="form-control">
              </div>
            </div>
            <div class="col-xs-2">
              <div class="form-group">
                <button class="btn btn-danger">X</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
