<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success">Submit</button>
          <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input id="name" class="form-control" formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="image-path">Image Path</label>
            <input id="image-path" class="form-control" formControlName="imagePath" #imagePath >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea rows="6" id="description" class="form-control" formControlName="description"> </textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div class="row" [formGroupName]="i" *ngFor="let ingredientCtrl of recipeForm.get('ingredients').controls; let i = index" style="margin-top: 10px">
            <div class="col-xs-8">
              <div class="form-group">
                <input class="form-control" formControlName="name">
              </div>
            </div>
            <div class="col-xs-2">
              <div class="form-group">
                <input type="number" class="form-control" formControlName="amount">
              </div>
            </div>
            <div class="col-xs-2">
              <div class="form-group">
                <button class="btn btn-danger">X</button>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="col-xs-12">
          <input type="button" (click)="onAddIngredient()" value="Add Ingredient" class="btn btn-success" [disabled]="!f.valid">
        </div>
      </div>
    </form>
  </div>
</div>
